miller79:
  apache:
    response-timeout: 10s
    
spring:
  security:
    oauth2:
      client:
        provider:
          serviceAccount:
            issuer-uri: ${ISSUER_URI:https://accounts.google.com}
        registration:
          serviceAccount:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            authorization-grant-type: client_credentials
  http:
    client:
      factory: http-components
      read-timeout: 17s
      connect-timeout: 16s